/* Global Styles */

audio {
    display: block;
    margin: 0 auto;
}


body {
    background-color: black;
    border: 3px groove gold;
}

img {
    display: block;
    margin: auto;
    width: 100%;

}

p {
    font-family: "Special Elite", sans-serif;
}

ul {
    font-family: "Special Elite", sans-serif;
}


#container {
    background-color: grey;
    border: 2px outset black;
}




  

/* Mobile Styles */

@media (min-width: 320px){
    nav {
        background-color: darkgray;
        padding: 5px;
        margin-top: 10px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }
    nav li {
        display: block;
    }
    nav li a {
        display: block;
        height: 30px;
        background-color: lightgray;
        color: #131A40;
        font-size: 24px;
        text-decoration: none;
        margin-top: 5px;
    }

    nav li a:hover {
        background-color: grey;
    }

    main {
        padding: 20px;

    }

    h1, h2, h3 {
        text-align: center;
        color: #131A40;
        text-shadow: 1px 1px 1px black;
        font-family: "Metal Mania", sans-serif;
    }

    footer {
        text-align: center;
        padding: 4px;
    }

    video {
        display: block;
        margin: 0 auto;
        height: 120px;
        width: 240px;
    }
}

/* Tablet Styles */

@media (min-width: 768px){
    nav li {
        display: inline-block;
    }

    nav li a {
        width: 125px;
        height: 40px;
        line-height: 40px;
        margin: 5px;
        font-size: 20px;
    }

    video {
        display: block;
        margin: 0 auto;
        height: 240px;
        width: 360px;
    }

    .keyblade_size {
        width: 50%;
        border-radius: 20px;
        box-shadow: 3px 3px 3px black;
    }

    .character_size {
        width: 50%;
            border-radius: 15px;
            box-shadow: 3px 3px 3px black;
    }
}

/* Desktop Styles */

@media (min-width: 1024px){
    #container {
        width: 65%;
        margin: 20px auto;
        border: 4px ridge gold;
        border-radius: 20px;
    }

    #banner {
        border-radius: 15px;
    }

    nav {
        padding: 0;
        border: 2px inset black;
        border-radius: 20px;
        margin: auto;
    }
    

    nav li a {
        background-color: darkgray;
        color: black;
        margin: 0 20px;
        font-size: 24px;
    }

    hr {
        display: none;
    }
    
    nav li a:hover {
        background-color: darkgray;
        color: maroon;
    }

    video {
        display: block;
        margin: 0 auto;
        height: 360px;
        width: 720px;
    }

    #multi_col {
        display: flex;
    }

    .col {
        margin: 20px;
        padding: 20px;
        border: 2px solid black;
    }
    
    .character_size {
    width: 75%;
        border-radius: 15px;
        box-shadow: 3px 3px 3px black;
}
}